<b>Clustering Assignment</b><br>
Requirements
For this assignment, you will be required to explore and cluster the neighborhoods in Toronto.

Preprocessing

In [5]:
import numpy as np # library to handle data in a vectorized manner
import pandas as pd # library for data analsysis
import requests # Library for web scraping

print('Libraries imported.')

Libraries imported.

In [6]:
# To run this, you can install BeautifulSoup
# https://pypi.python.org/pypi/beautifulsoup4

# Or download the file
# http://beautiful-soup-4
# and unzip it in the same directory as this file
import requests
from urllib.request import urlopen
from bs4 import BeautifulSoup
import ssl
import csv

print('BeautifulSoup  & csv imported.')

BeautifulSoup  & csv imported.


Processing-part-1: extracting raw table (from webpage)

In [7]:
# Ignore SSL certificate errors
ctx = ssl.create_default_context()
ctx.check_hostname = False
ctx.verify_mode = ssl.CERT_NONE

print('SSL certificate errors ignored.')

SSL certificate errors ignored.

In [8]:
source = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text

soup = BeautifulSoup(source, 'lxml')

#print(soup.prettify())
print('soup ready')

soup ready

In [9]:
table = soup.find('table',{'class':'wikitable sortable'})
#table

In [10]:
table_rows = table.find_all('tr')

#table_rows

In [11]:
data = []
for row in table_rows:
    data.append([t.text.strip() for t in row.find_all('td')])

df = pd.DataFrame(data, columns=['PostalCode', 'Borough', 'Neighbourhood'])
df = df[~df['PostalCode'].isnull()]  # to filter out bad rows

print(df.head(5))
print('***')
print(df.tail(5))

  PostalCode           Borough               Neighbourhood
1        M1A      Not assigned
2        M2A      Not assigned
3        M3A        North York                   Parkwoods
4        M4A        North York            Victoria Village
5        M5A  Downtown Toronto  Regent Park / Harbourfront
***
    PostalCode       Borough  \
176        M5Z  Not assigned
177        M6Z  Not assigned
178        M7Z  Not assigned
179        M8Z     Etobicoke
180        M9Z  Not assigned

                                         Neighbourhood
176
177
178
179  Mimico NW / The Queensway West / South of Bloo...
180

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 180 entries, 1 to 180
Data columns (total 3 columns):
PostalCode       180 non-null object
Borough          180 non-null object
Neighbourhood    180 non-null object
dtypes: object(3)
memory usage: 5.6+ KB

In [13]:
df.shape

(180, 3)

In [14]:
import pandas
import requests
from bs4 import BeautifulSoup
website_text = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text
soup = BeautifulSoup(website_text,'lxml')

table = soup.find('table',{'class':'wikitable sortable'})
table_rows = table.find_all('tr')

data = []
for row in table_rows:
    data.append([t.text.strip() for t in row.find_all('td')])

df = pandas.DataFrame(data, columns=['PostalCode', 'Borough', 'Neighbourhood'])
df = df[~df['PostalCode'].isnull()]  # to filter out bad rows

df.head(15)

   PostalCode           Borough                                 Neighbourhood
1         M1A      Not assigned
2         M2A      Not assigned
3         M3A        North York                                     Parkwoods
4         M4A        North York                              Victoria Village
5         M5A  Downtown Toronto                    Regent Park / Harbourfront
6         M6A        North York             Lawrence Manor / Lawrence Heights
7         M7A  Downtown Toronto  Queen's Park / Ontario Provincial Government
8         M8A      Not assigned
9         M9A         Etobicoke                              Islington Avenue
10        M1B       Scarborough                               Malvern / Rouge
11        M2B      Not assigned
12        M3B        North York                                     Don Mills
13        M4B         East York              Parkview Hill / Woodbine Gardens
14        M5B  Downtown Toronto                     Garden District / Ryerson
15        M6B        North York                                     Glencairn

In [15]:
df.drop(df[df['Borough']=="Not assigned"].index,axis=0, inplace=True)
df.head()

  PostalCode           Borough                                 Neighbourhood
3        M3A        North York                                     Parkwoods
4        M4A        North York                              Victoria Village
5        M5A  Downtown Toronto                    Regent Park / Harbourfront
6        M6A        North York             Lawrence Manor / Lawrence Heights
7        M7A  Downtown Toronto  Queen's Park / Ontario Provincial Government

In [16]:
df1 = df.reset_index()
df1.head()

,index,PostalCode,Borough,Neighbourhood
0,3,M3A,North York,Parkwoods
1,4,M4A,North York,Victoria Village
2,5,M5A,Downtown Toronto,Regent Park / Harbourfront
3,6,M6A,North York,Lawrence Manor / Lawrence Heights
4,7,M7A,Downtown Toronto,Queen's Park / Ontario Provincial Government

In [17]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103 entries, 0 to 102
Data columns (total 4 columns):
index            103 non-null int64
PostalCode       103 non-null object
Borough          103 non-null object
Neighbourhood    103 non-null object
dtypes: int64(1), object(3)
memory usage: 3.3+ KB

In [18]:
df1.shape

(103, 4)

In [19]:
df2= df1.groupby('PostalCode').agg(lambda x: ','.join(x))
df2.head()

                Borough                             Neighbourhood
PostalCode
M1B         Scarborough                           Malvern / Rouge
M1C         Scarborough  Rouge Hill / Port Union / Highland Creek
M1E         Scarborough       Guildwood / Morningside / West Hill
M1G         Scarborough                                    Woburn
M1H         Scarborough                                 Cedarbrae

In [20]:
df2.loc[df2['Neighbourhood']=="Not assigned",'Neighbourhood']=df2.loc[df2['Neighbourhood']=="Not assigned",'Borough']

df2.head()

                Borough                             Neighbourhood
PostalCode
M1B         Scarborough                           Malvern / Rouge
M1C         Scarborough  Rouge Hill / Port Union / Highland Creek
M1E         Scarborough       Guildwood / Morningside / West Hill
M1G         Scarborough                                    Woburn
M1H         Scarborough                                 Cedarbrae

In [21]:
df3 = df2.reset_index()
df3.head()

  PostalCode      Borough                             Neighbourhood
0        M1B  Scarborough                           Malvern / Rouge
1        M1C  Scarborough  Rouge Hill / Port Union / Highland Creek
2        M1E  Scarborough       Guildwood / Morningside / West Hill
3        M1G  Scarborough                                    Woburn
4        M1H  Scarborough                                 Cedarbrae

In [22]:
df3['Borough']= df3['Borough'].str.replace('nan|[{}\s]','').str.split(',').apply(set).str.join(',').str.strip(',').str.replace(",{2,}",",")
df3.head(12)

   PostalCode      Borough                                      Neighbourhood
0         M1B  Scarborough                                    Malvern / Rouge
1         M1C  Scarborough           Rouge Hill / Port Union / Highland Creek
2         M1E  Scarborough                Guildwood / Morningside / West Hill
3         M1G  Scarborough                                             Woburn
4         M1H  Scarborough                                          Cedarbrae
5         M1J  Scarborough                                Scarborough Village
6         M1K  Scarborough      Kennedy Park / Ionview / East Birchmount Park
7         M1L  Scarborough                  Golden Mile / Clairlea / Oakridge
8         M1M  Scarborough  Cliffside / Cliffcrest / Scarborough Village West
9         M1N  Scarborough                       Birch Cliff / Cliffside West
10        M1P  Scarborough  Dorset Park / Wexford Heights / Scarborough To...
11        M1R  Scarborough                                 Wexford / Maryvale

In [23]:
df_geopy1 = df3

In [24]:
df_geopy1.shape

(103, 3)

In [25]:
df_geopy1.drop(df_geopy1[df_geopy1['Borough']=="Notassigned"].index,axis=0, inplace=True)
#df_geopy1
# code holds true up until i=102
df_geopy1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 103 entries, 0 to 102
Data columns (total 3 columns):
PostalCode       103 non-null object
Borough          103 non-null object
Neighbourhood    103 non-null object
dtypes: object(3)
memory usage: 3.2+ KB

In [26]:
from  geopy.geocoders import Nominatim
geolocator = Nominatim()
location = geolocator.geocode("M1G, Scarborough, Woburn")


#print(location.address)

#print((location.latitude, location.longitude))

#print(location.raw)

/opt/conda/envs/Python36/lib/python3.6/site-packages/ipykernel/__main__.py:2: DeprecationWarning: Using Nominatim with the default "geopy/1.21.0" `user_agent` is strongly discouraged, as it violates Nominatim's ToS https://operations.osmfoundation.org/policies/nominatim/ and may possibly cause 403 and 429 HTTP errors. Please specify a custom `user_agent` with `Nominatim(user_agent="my-application")` or by overriding the default `user_agent`: `geopy.geocoders.options.default_user_agent = "my-application"`. In geopy 2.0 this will become an exception.
  from ipykernel import kernelapp as app

In [3]:
!pip install geocoder

Collecting geocoder
  Downloading https://files.pythonhosted.org/packages/4f/6b/13166c909ad2f2d76b929a4227c952630ebaf0d729f6317eb09cbceccbab/geocoder-1.38.1-py2.py3-none-any.whl (98kB)
     |████████████████████████████████| 102kB 11.1MB/s ta 0:00:01
Requirement already satisfied: future in /opt/conda/envs/Python36/lib/python3.6/site-packages (from geocoder) (0.17.1)
Collecting ratelim (from geocoder)
  Downloading https://files.pythonhosted.org/packages/f2/98/7e6d147fd16a10a5f821db6e25f192265d6ecca3d82957a4fdd592cad49c/ratelim-0.1.6-py2.py3-none-any.whl
Requirement already satisfied: requests in /opt/conda/envs/Python36/lib/python3.6/site-packages (from geocoder) (2.21.0)
Requirement already satisfied: six in /opt/conda/envs/Python36/lib/python3.6/site-packages (from geocoder) (1.12.0)
Requirement already satisfied: click in /opt/conda/envs/Python36/lib/python3.6/site-packages (from geocoder) (7.0)
Requirement already satisfied: decorator in /opt/conda/envs/Python36/lib/python3.6/site-packages (from ratelim->geocoder) (4.3.2)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from requests->geocoder) (3.0.4)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from requests->geocoder) (1.24.1)
Requirement already satisfied: idna<2.9,>=2.5 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from requests->geocoder) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from requests->geocoder) (2020.4.5.1)
Installing collected packages: ratelim, geocoder
Successfully installed geocoder-1.38.1 ratelim-0.1.6

In [27]:
from  geopy.geocoders import Nominatim
geolocator = Nominatim()
city ="London"
country ="Uk"
loc = geolocator.geocode(city+','+ country)
print("latitude is :-" ,loc.latitude,"\nlongtitude is:-" ,loc.longitude)

latitude is :- 51.5073219
longtitude is:- -0.1276474

/opt/conda/envs/Python36/lib/python3.6/site-packages/ipykernel/__main__.py:2: DeprecationWarning: Using Nominatim with the default "geopy/1.21.0" `user_agent` is strongly discouraged, as it violates Nominatim's ToS https://operations.osmfoundation.org/policies/nominatim/ and may possibly cause 403 and 429 HTTP errors. Please specify a custom `user_agent` with `Nominatim(user_agent="my-application")` or by overriding the default `user_agent`: `geopy.geocoders.options.default_user_agent = "my-application"`. In geopy 2.0 this will become an exception.
  from ipykernel import kernelapp as app

In [28]:
from  geopy.geocoders import Nominatim
geolocator = Nominatim()
location = geolocator.geocode("Toronto, North York, Parkwoods")

print(location.address)
print('')
print((location.latitude, location.longitude))
print('')
print(location.raw)

Parkwoods Village Drive, Parkway East, Don Valley East, North York, Toronto, Golden Horseshoe, Ontario, M3A 2X2, Canada

(43.7587999, -79.3201966)

{'place_id': 124974741, 'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright', 'osm_type': 'way', 'osm_id': 160406961, 'boundingbox': ['43.7576231', '43.761106', '-79.3239088', '-79.316215'], 'lat': '43.7587999', 'lon': '-79.3201966', 'display_name': 'Parkwoods Village Drive, Parkway East, Don Valley East, North York, Toronto, Golden Horseshoe, Ontario, M3A 2X2, Canada', 'class': 'highway', 'type': 'secondary', 'importance': 0.51}

/opt/conda/envs/Python36/lib/python3.6/site-packages/ipykernel/__main__.py:2: DeprecationWarning: Using Nominatim with the default "geopy/1.21.0" `user_agent` is strongly discouraged, as it violates Nominatim's ToS https://operations.osmfoundation.org/policies/nominatim/ and may possibly cause 403 and 429 HTTP errors. Please specify a custom `user_agent` with `Nominatim(user_agent="my-application")` or by overriding the default `user_agent`: `geopy.geocoders.options.default_user_agent = "my-application"`. In geopy 2.0 this will become an exception.
  from ipykernel import kernelapp as app

In [29]:
import pandas as pd
df_geopy = pd.DataFrame({'PostalCode': ['M3A', 'M4A', 'M5A'],
                         'Borough': ['North York', 'North York', 'Downtown Toronto'],
                         'Neighbourhood': ['Parkwoods', 'Victoria Village', 'Harbourfront'],})

from geopy.geocoders import Nominatim
geolocator = Nominatim()

/opt/conda/envs/Python36/lib/python3.6/site-packages/ipykernel/__main__.py:7: DeprecationWarning: Using Nominatim with the default "geopy/1.21.0" `user_agent` is strongly discouraged, as it violates Nominatim's ToS https://operations.osmfoundation.org/policies/nominatim/ and may possibly cause 403 and 429 HTTP errors. Please specify a custom `user_agent` with `Nominatim(user_agent="my-application")` or by overriding the default `user_agent`: `geopy.geocoders.options.default_user_agent = "my-application"`. In geopy 2.0 this will become an exception.

In [31]:
df_geopy1 = df3
df_geopy1.head()

  PostalCode      Borough                             Neighbourhood
0        M1B  Scarborough                           Malvern / Rouge
1        M1C  Scarborough  Rouge Hill / Port Union / Highland Creek
2        M1E  Scarborough       Guildwood / Morningside / West Hill
3        M1G  Scarborough                                    Woburn
4        M1H  Scarborough                                 Cedarbrae

In [32]:
from geopy.geocoders import Nominatim
geolocator = Nominatim()

df_geopy1['address'] = df3[['PostalCode', 'Borough', 'Neighbourhood']].apply(lambda x: ', '.join(x), axis=1 )
df_geopy1.head()

/opt/conda/envs/Python36/lib/python3.6/site-packages/ipykernel/__main__.py:2: DeprecationWarning: Using Nominatim with the default "geopy/1.21.0" `user_agent` is strongly discouraged, as it violates Nominatim's ToS https://operations.osmfoundation.org/policies/nominatim/ and may possibly cause 403 and 429 HTTP errors. Please specify a custom `user_agent` with `Nominatim(user_agent="my-application")` or by overriding the default `user_agent`: `geopy.geocoders.options.default_user_agent = "my-application"`. In geopy 2.0 this will become an exception.
  from ipykernel import kernelapp as app

,PostalCode,Borough,Neighbourhood,address
0,M1B,Scarborough,Malvern / Rouge,"M1B, Scarborough, Malvern / Rouge"
1,M1C,Scarborough,Rouge Hill / Port Union / Highland Creek,"M1C, Scarborough, Rouge Hill / Port Union / Hi..."
2,M1E,Scarborough,Guildwood / Morningside / West Hill,"M1E, Scarborough, Guildwood / Morningside / We..."
3,M1G,Scarborough,Woburn,"M1G, Scarborough, Woburn"
4,M1H,Scarborough,Cedarbrae,"M1H, Scarborough, Cedarbrae"

In [33]:
df_geopy1.drop(df_geopy1[df_geopy1['Borough']=="Notassigned"].index,axis=0, inplace=True)
#df_geopy1
# code holds true up until i=102
df_geopy1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 103 entries, 0 to 102
Data columns (total 4 columns):
PostalCode       103 non-null object
Borough          103 non-null object
Neighbourhood    103 non-null object
address          103 non-null object
dtypes: object(4)
memory usage: 4.0+ KB

In [34]:
df_geopy1.to_csv('geopy1.csv')
# no data for location after row 75

In [35]:
from  geopy.geocoders import Nominatim
geolocator = Nominatim()
location = geolocator.geocode("M1G, Scarborough, Woburn")


#print(location.address)

#print((location.latitude, location.longitude))

#print(location.raw)

/opt/conda/envs/Python36/lib/python3.6/site-packages/ipykernel/__main__.py:2: DeprecationWarning: Using Nominatim with the default "geopy/1.21.0" `user_agent` is strongly discouraged, as it violates Nominatim's ToS https://operations.osmfoundation.org/policies/nominatim/ and may possibly cause 403 and 429 HTTP errors. Please specify a custom `user_agent` with `Nominatim(user_agent="my-application")` or by overriding the default `user_agent`: `geopy.geocoders.options.default_user_agent = "my-application"`. In geopy 2.0 this will become an exception.
  from ipykernel import kernelapp as app

In [36]:
df3.to_csv('geopy.csv')

In [37]:
import csv

with open('geopy.csv') as csvfile:
     reader = csv.DictReader(csvfile)
     #for row in reader:
         #print(row['PostalCode'],row['Borough'], row['Neighbourhood'] )

In [38]:
from  geopy.geocoders import Nominatim
geolocator = Nominatim()
location = geolocator.geocode("M1B Scarborough Rouge,Malvern")

#print(location.address)

#print((location.latitude, location.longitude))

#print(location.raw)

/opt/conda/envs/Python36/lib/python3.6/site-packages/ipykernel/__main__.py:2: DeprecationWarning: Using Nominatim with the default "geopy/1.21.0" `user_agent` is strongly discouraged, as it violates Nominatim's ToS https://operations.osmfoundation.org/policies/nominatim/ and may possibly cause 403 and 429 HTTP errors. Please specify a custom `user_agent` with `Nominatim(user_agent="my-application")` or by overriding the default `user_agent`: `geopy.geocoders.options.default_user_agent = "my-application"`. In geopy 2.0 this will become an exception.
  from ipykernel import kernelapp as app

In [39]:
from  geopy.geocoders import Nominatim
geolocator = Nominatim()
location = geolocator.geocode("Toronto, Highland Creek")

#print(location.address)

#print((location.latitude, location.longitude))

#print(location.raw)

#M1C Scarborough Highland Creek,Rouge Hill,Port Union = no address

/opt/conda/envs/Python36/lib/python3.6/site-packages/ipykernel/__main__.py:2: DeprecationWarning: Using Nominatim with the default "geopy/1.21.0" `user_agent` is strongly discouraged, as it violates Nominatim's ToS https://operations.osmfoundation.org/policies/nominatim/ and may possibly cause 403 and 429 HTTP errors. Please specify a custom `user_agent` with `Nominatim(user_agent="my-application")` or by overriding the default `user_agent`: `geopy.geocoders.options.default_user_agent = "my-application"`. In geopy 2.0 this will become an exception.
  from ipykernel import kernelapp as app

In [40]:
from  geopy.geocoders import Nominatim
geolocator = Nominatim()
location = geolocator.geocode("Toronto, Morningside")

#print(location.address)

#print((location.latitude, location.longitude))

#print(location.raw)

#M1E Scarborough Guildwood,Morningside,West Hill = no address

/opt/conda/envs/Python36/lib/python3.6/site-packages/ipykernel/__main__.py:2: DeprecationWarning: Using Nominatim with the default "geopy/1.21.0" `user_agent` is strongly discouraged, as it violates Nominatim's ToS https://operations.osmfoundation.org/policies/nominatim/ and may possibly cause 403 and 429 HTTP errors. Please specify a custom `user_agent` with `Nominatim(user_agent="my-application")` or by overriding the default `user_agent`: `geopy.geocoders.options.default_user_agent = "my-application"`. In geopy 2.0 this will become an exception.
  from ipykernel import kernelapp as app

In [41]:
import numpy as np
import csv


PostalCode = None
Borough = None
Neighbourhood = None
latData = None
longData = None

LAT_Woburn = 43.7598243
LONG_Woburn = -79.2252908
LAT_Malvern = 43.8091955
LONG_Malvern = -79.2217008
LAT_Highland_Creek = 43.7901172
LONG_Highland_Creek = -79.1733344
LAT_Morningside = 43.7826012
LONG_Morningside = -79.2049579

 
PostalCode = np.array(['M1H','M1B','M1C','M1G '])
Borough = np.array(['Scarborough','Scarborough','Scarborough','Scarborough'])
Neighbourhood = np.array(['Woburn','Malvern','Highland_Creek','Morningside'])
latData = np.array([43.7598243,43.8091955, 43.7901172 , 43.7826012])
longData = np.array([-79.2252908,-79.2217008,-79.1733344, -79.2049579 ])

with open('data.csv', 'w') as file:
    writer = csv.writer(file, delimiter=',')
    writer.writerow('ABXYZ')
    for a,b,x,y,z in np.nditer([ PostalCode.T, Borough.T, Neighbourhood.T, latData.T, longData.T], order='C'):
        writer.writerow([a,b,x,y,z])

In [42]:
import csv

with open('data.csv') as csvfile:
     reader = csv.DictReader(csvfile)
     for row in reader:
         print(row['A'], row['B'],row['X'], row['Y'], row['Z'])

M1H Scarborough Woburn 43.7598243 -79.2252908
M1B Scarborough Malvern 43.8091955 -79.2217008
M1C Scarborough Highland_Creek 43.7901172 -79.1733344
M1G  Scarborough Morningside 43.7826012 -79.2049579

In [43]:
pd.read_csv('data.csv')

      A            B               X          Y          Z
0   M1H  Scarborough          Woburn  43.759824 -79.225291
1   M1B  Scarborough         Malvern  43.809196 -79.221701
2   M1C  Scarborough  Highland_Creek  43.790117 -79.173334
3  M1G   Scarborough     Morningside  43.782601 -79.204958

In [44]:
import pandas, os

In [45]:
df_geopy['address']=df_geopy['PostalCode'] + ',' + df_geopy['Borough'] + ','+ df_geopy['Neighbourhood']
df_geopy.head()

,PostalCode,Borough,Neighbourhood,address
0,M3A,North York,Parkwoods,"M3A,North York,Parkwoods"
1,M4A,North York,Victoria Village,"M4A,North York,Victoria Village"
2,M5A,Downtown Toronto,Harbourfront,"M5A,Downtown Toronto,Harbourfront"

In [46]:
nom = Nominatim()
n=nom.geocode('M1B, Scarborough, Rouge,Malvern')
n

/opt/conda/envs/Python36/lib/python3.6/site-packages/ipykernel/__main__.py:1: DeprecationWarning: Using Nominatim with the default "geopy/1.21.0" `user_agent` is strongly discouraged, as it violates Nominatim's ToS https://operations.osmfoundation.org/policies/nominatim/ and may possibly cause 403 and 429 HTTP errors. Please specify a custom `user_agent` with `Nominatim(user_agent="my-application")` or by overriding the default `user_agent`: `geopy.geocoders.options.default_user_agent = "my-application"`. In geopy 2.0 this will become an exception.
  if __name__ == '__main__':

In [48]:
n2=nom.geocode('M1E Scarborough Guildwood,Morningside,West Hill')
print(n2)

None

In [49]:
df_geopy['Coordinates'] =df_geopy['address'].apply(nom.geocode)
df_geopy.head()

,PostalCode,Borough,Neighbourhood,address,Coordinates
0,M3A,North York,Parkwoods,"M3A,North York,Parkwoods","(Parkwoods Village Drive, Parkway East, Don Va..."
1,M4A,North York,Victoria Village,"M4A,North York,Victoria Village",None
2,M5A,Downtown Toronto,Harbourfront,"M5A,Downtown Toronto,Harbourfront",None

In [52]:
df_geopy.Coordinates[0]

Location(Parkwoods Village Drive, Parkway East, Don Valley East, North York, Toronto, Golden Horseshoe, Ontario, M3A 1Z5, Canada, (43.7612239, -79.3239857, 0.0))

In [53]:
df_geopy['latitude']=df_geopy['Coordinates'].apply(lambda x: x.latitude if x !=None else None)
df_geopy['longitude']=df_geopy['Coordinates'].apply(lambda x: x.longitude if x !=None else None)
df_geopy.head()

,PostalCode,Borough,Neighbourhood,address,Coordinates,latitude,longitude
0,M3A,North York,Parkwoods,"M3A,North York,Parkwoods","(Parkwoods Village Drive, Parkway East, Don Va...",43.761224,-79.323986
1,M4A,North York,Victoria Village,"M4A,North York,Victoria Village",None,NaN,NaN
2,M5A,Downtown Toronto,Harbourfront,"M5A,Downtown Toronto,Harbourfront",None,NaN,NaN

In [55]:
df_geopy.to_csv('geo_loc_py.csv')

In [57]:
print('The latitude of', df_geopy.address[0],  'is', df_geopy.latitude[0], 'and its longitude is',df_geopy.longitude[0])

The latitude of M3A,North York,Parkwoods is 43.7612239 and its longitude is -79.3239857

2.2. Used the csv file to create the requested dataframe¶

In [58]:
# Load the Pandas libraries with alias 'pd' 
import pandas as pd 
# Read data from file 'filename.csv' 
# (in the same directory that your python process is based)
# Control delimiters, rows, column names with read_csv (see later) 
data2 = pd.read_csv("geopy.csv") 
# Preview the first 5 lines of the loaded data 
data2.head()

,Unnamed: 0,PostalCode,Borough,Neighbourhood,address
0,0,M1B,Scarborough,Malvern / Rouge,"M1B, Scarborough, Malvern / Rouge"
1,1,M1C,Scarborough,Rouge Hill / Port Union / Highland Creek,"M1C, Scarborough, Rouge Hill / Port Union / Hi..."
2,2,M1E,Scarborough,Guildwood / Morningside / West Hill,"M1E, Scarborough, Guildwood / Morningside / We..."
3,3,M1G,Scarborough,Woburn,"M1G, Scarborough, Woburn"
4,4,M1H,Scarborough,Cedarbrae,"M1H, Scarborough, Cedarbrae"

In [61]:
# The code was removed by Watson Studio for sharing.

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [62]:
data3.rename(columns={'Postal Code': 'PostalCode'}, inplace=True)
data3.head()

  PostalCode   Latitude  Longitude
0        M1B  43.806686 -79.194353
1        M1C  43.784535 -79.160497
2        M1E  43.763573 -79.188711
3        M1G  43.770992 -79.216917
4        M1H  43.773136 -79.239476

In [63]:
data1 = pd.merge(data3, data2, how='inner', on=None, left_on=None, right_on=None,
         left_index=False, right_index=False, sort=True,
         suffixes=('_x', '_y'), copy=True, indicator=False,
         validate=None)

data1.head()

,PostalCode,Latitude,Longitude,Unnamed: 0,Borough,Neighbourhood,address
0,M1B,43.806686,-79.194353,0,Scarborough,Malvern / Rouge,"M1B, Scarborough, Malvern / Rouge"
1,M1C,43.784535,-79.160497,1,Scarborough,Rouge Hill / Port Union / Highland Creek,"M1C, Scarborough, Rouge Hill / Port Union / Hi..."
2,M1E,43.763573,-79.188711,2,Scarborough,Guildwood / Morningside / West Hill,"M1E, Scarborough, Guildwood / Morningside / We..."
3,M1G,43.770992,-79.216917,3,Scarborough,Woburn,"M1G, Scarborough, Woburn"
4,M1H,43.773136,-79.239476,4,Scarborough,Cedarbrae,"M1H, Scarborough, Cedarbrae"

In [64]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 103 entries, 0 to 102
Data columns (total 7 columns):
PostalCode       103 non-null object
Latitude         103 non-null float64
Longitude        103 non-null float64
Unnamed: 0       103 non-null int64
Borough          103 non-null object
Neighbourhood    103 non-null object
address          103 non-null object
dtypes: float64(2), int64(1), object(4)
memory usage: 6.4+ KB

In [65]:
cols = data1.columns.tolist()
cols

['PostalCode',
 'Latitude',
 'Longitude',
 'Unnamed: 0',
 'Borough',
 'Neighbourhood',
 'address']

In [66]:
new_column_order = ['PostalCode',
 'Borough',
 'Neighbourhood',
 'Latitude',
 'Longitude']
new_column_order

['PostalCode', 'Borough', 'Neighbourhood', 'Latitude', 'Longitude']

In [67]:
data1 = data1[new_column_order]
#data1.head()

In [68]:
sorted_df = data1.sort_values([ 'Neighbourhood', 'Latitude'], ascending=[True, True])
#sorted_df.head()

In [70]:
sorted_df.reset_index(inplace=True)
sorted_df.head()

,level_0,index,PostalCode,Borough,Neighbourhood,Latitude,Longitude
0,0,12,M1S,Scarborough,Agincourt,43.794200,-79.262029
1,1,89,M8W,Etobicoke,Alderwood / Long Branch,43.602414,-79.543484
2,2,28,M3H,NorthYork,Bathurst Manor / Wilson Heights / Downsview North,43.754328,-79.442259
3,3,19,M2K,NorthYork,Bayview Village,43.786947,-79.385975
4,4,62,M5M,NorthYork,Bedford Park / Lawrence Manor East,43.733283,-79.419750

In [71]:
sorted_cols =sorted_df.columns.tolist()
#sorted_cols

In [72]:
new_column_order2 = ['PostalCode',
 'Borough',
 'Neighbourhood',
 'Latitude',
 'Longitude']
new_column_order2

['PostalCode', 'Borough', 'Neighbourhood', 'Latitude', 'Longitude']

In [73]:
sorted_dataframe = sorted_df[new_column_order]
sorted_dataframe.head()

,PostalCode,Borough,Neighbourhood,Latitude,Longitude
0,M1S,Scarborough,Agincourt,43.794200,-79.262029
1,M8W,Etobicoke,Alderwood / Long Branch,43.602414,-79.543484
2,M3H,NorthYork,Bathurst Manor / Wilson Heights / Downsview North,43.754328,-79.442259
3,M2K,NorthYork,Bayview Village,43.786947,-79.385975
4,M5M,NorthYork,Bedford Park / Lawrence Manor East,43.733283,-79.419750

In [74]:
sorted_dataframe.to_csv('sorted_geoloc.csv')

Assignment3 Build a test set with boroughs in Toronto

In [75]:
import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import json # library to handle JSON files

#!conda install -c conda-forge geopy --yes # uncomment this line if you haven't completed the Foursquare API lab
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans

#!conda install -c conda-forge folium=0.5.0 --yes # uncomment this line if you haven't completed the Foursquare API lab
import folium # map rendering library

print('Libraries imported.')

Libraries imported.

bonus_loading data into json:

In [76]:
# library to handle JSON files

import pandas as pd

import json

sorted_dataframe.to_json(path_or_buf='geo_toronto.json', orient='table')

In [77]:
with open('geo_toronto.json') as json_data:
    Toronto_data = json.load(json_data)

In [78]:
Toronto_data

{'schema': {'fields': [{'name': 'index', 'type': 'integer'},
   {'name': 'PostalCode', 'type': 'string'},
   {'name': 'Borough', 'type': 'string'},
   {'name': 'Neighbourhood', 'type': 'string'},
   {'name': 'Latitude', 'type': 'number'},
   {'name': 'Longitude', 'type': 'number'}],
  'primaryKey': ['index'],
  'pandas_version': '0.20.0'},
 'data': [{'index': 0,
   'PostalCode': 'M1S',
   'Borough': 'Scarborough',
   'Neighbourhood': 'Agincourt',
   'Latitude': 43.7942003,
   'Longitude': -79.2620294},
  {'index': 1,
   'PostalCode': 'M8W',
   'Borough': 'Etobicoke',
   'Neighbourhood': 'Alderwood / Long Branch',
   'Latitude': 43.6024137,
   'Longitude': -79.5434841},
  {'index': 2,
   'PostalCode': 'M3H',
   'Borough': 'NorthYork',
   'Neighbourhood': 'Bathurst Manor / Wilson Heights / Downsview North',
   'Latitude': 43.7543283,
   'Longitude': -79.4422593},
  {'index': 3,
   'PostalCode': 'M2K',
   'Borough': 'NorthYork',
   'Neighbourhood': 'Bayview Village',
   'Latitude': 43.7869473,
   'Longitude': -79.385975},
  {'index': 4,
   'PostalCode': 'M5M',
   'Borough': 'NorthYork',
   'Neighbourhood': 'Bedford Park / Lawrence Manor East',
   'Latitude': 43.7332825,
   'Longitude': -79.4197497},
  {'index': 5,
   'PostalCode': 'M5E',
   'Borough': 'DowntownToronto',
   'Neighbourhood': 'Berczy Park',
   'Latitude': 43.6447708,
   'Longitude': -79.3733064},
  {'index': 6,
   'PostalCode': 'M1N',
   'Borough': 'Scarborough',
   'Neighbourhood': 'Birch Cliff / Cliffside West',
   'Latitude': 43.692657,
   'Longitude': -79.2648481},
  {'index': 7,
   'PostalCode': 'M6K',
   'Borough': 'WestToronto',
   'Neighbourhood': 'Brockton / Parkdale Village / Exhibition Place',
   'Latitude': 43.6368472,
   'Longitude': -79.4281914},
  {'index': 8,
   'PostalCode': 'M7Y',
   'Borough': 'EastToronto',
   'Neighbourhood': 'Business reply mail Processing Centre',
   'Latitude': 43.6627439,
   'Longitude': -79.321558},
  {'index': 9,
   'PostalCode': 'M5V',
   'Borough': 'DowntownToronto',
   'Neighbourhood': 'CN Tower / King and Spadina / Railway Lands / Harbourfront West / Bathurst Quay / South Niagara / Island airport',
   'Latitude': 43.6289467,
   'Longitude': -79.3944199},
  {'index': 10,
   'PostalCode': 'M6E',
   'Borough': 'York',
   'Neighbourhood': 'Caledonia-Fairbanks',
   'Latitude': 43.6890256,
   'Longitude': -79.453512},
  {'index': 11,
   'PostalCode': 'M7R',
   'Borough': 'Mississauga',
   'Neighbourhood': 'Canada Post Gateway Processing Centre',
   'Latitude': 43.6369656,
   'Longitude': -79.615819},
  {'index': 12,
   'PostalCode': 'M1H',
   'Borough': 'Scarborough',
   'Neighbourhood': 'Cedarbrae',
   'Latitude': 43.773136,
   'Longitude': -79.2394761},
  {'index': 13,
   'PostalCode': 'M5G',
   'Borough': 'DowntownToronto',
   'Neighbourhood': 'Central Bay Street',
   'Latitude': 43.6579524,
   'Longitude': -79.3873826},
  {'index': 14,
   'PostalCode': 'M6G',
   'Borough': 'DowntownToronto',
   'Neighbourhood': 'Christie',
   'Latitude': 43.669542,
   'Longitude': -79.4225637},
  {'index': 15,
   'PostalCode': 'M4Y',
   'Borough': 'DowntownToronto',
   'Neighbourhood': 'Church and Wellesley',
   'Latitude': 43.6658599,
   'Longitude': -79.3831599},
  {'index': 16,
   'PostalCode': 'M1T',
   'Borough': 'Scarborough',
   'Neighbourhood': "Clarks Corners / Tam O'Shanter / Sullivan",
   'Latitude': 43.7816375,
   'Longitude': -79.3043021},
  {'index': 17,
   'PostalCode': 'M1M',
   'Borough': 'Scarborough',
   'Neighbourhood': 'Cliffside / Cliffcrest / Scarborough Village West',
   'Latitude': 43.716316,
   'Longitude': -79.2394761},
  {'index': 18,
   'PostalCode': 'M5L',
   'Borough': 'DowntownToronto',
   'Neighbourhood': 'Commerce Court / Victoria Hotel',
   'Latitude': 43.6481985,
   'Longitude': -79.3798169},
  {'index': 19,
   'PostalCode': 'M4S',
   'Borough': 'CentralToronto',
   'Neighbourhood': 'Davisville',
   'Latitude': 43.7043244,
   'Longitude': -79.3887901},
  {'index': 20,
   'PostalCode': 'M4P',
   'Borough': 'CentralToronto',
   'Neighbourhood': 'Davisville North',
   'Latitude': 43.7127511,
   'Longitude': -79.3901975},
  {'index': 21,
   'PostalCode': 'M6M',
   'Borough': 'York',
   'Neighbourhood': 'Del Ray / Mount Dennis / Keelsdale and Silverthorn',
   'Latitude': 43.6911158,
   'Longitude': -79.4760133},
  {'index': 22,
   'PostalCode': 'M3C',
   'Borough': 'NorthYork',
   'Neighbourhood': 'Don Mills',
   'Latitude': 43.7258997,
   'Longitude': -79.340923},
  {'index': 23,
   'PostalCode': 'M3B',
   'Borough': 'NorthYork',
   'Neighbourhood': 'Don Mills',
   'Latitude': 43.7459058,
   'Longitude': -79.352188},
  {'index': 24,
   'PostalCode': 'M1P',
   'Borough': 'Scarborough',
   'Neighbourhood': 'Dorset Park / Wexford Heights / Scarborough Town Centre',
   'Latitude': 43.7574096,
   'Longitude': -79.273304},
  {'index': 25,
   'PostalCode': 'M3M',
   'Borough': 'NorthYork',
   'Neighbourhood': 'Downsview',
   'Latitude': 43.7284964,
   'Longitude': -79.4956974},
  {'index': 26,
   'PostalCode': 'M3K',
   'Borough': 'NorthYork',
   'Neighbourhood': 'Downsview',
   'Latitude': 43.7374732,
   'Longitude': -79.4647633},
  {'index': 27,
   'PostalCode': 'M3L',
   'Borough': 'NorthYork',
   'Neighbourhood': 'Downsview',
   'Latitude': 43.7390146,
   'Longitude': -79.5069436},
  {'index': 28,
   'PostalCode': 'M3N',
   'Borough': 'NorthYork',
   'Neighbourhood': 'Downsview',
   'Latitude': 43.7616313,
   'Longitude': -79.5209994},
  {'index': 29,
   'PostalCode': 'M6H',
   'Borough': 'WestToronto',
   'Neighbourhood': 'Dufferin / Dovercourt Village',
   'Latitude': 43.6690051,
   'Longitude': -79.4422593},
  {'index': 30,
   'PostalCode': 'M4J',
   'Borough': 'EastYork',
   'Neighbourhood': 'East Toronto',
   'Latitude': 43.685347,
   'Longitude': -79.3381065},
  {'index': 31,
   'PostalCode': 'M9C',
   'Borough': 'Etobicoke',
   'Neighbourhood': 'Eringate / Bloordale Gardens / Old Burnhamthorpe / Markland Wood',
   'Latitude': 43.6435152,
   'Longitude': -79.5772008},
  {'index': 32,
   'PostalCode': 'M2J',
   'Borough': 'NorthYork',
   'Neighbourhood': 'Fairview / Henry Farm / Oriole',
   'Latitude': 43.7785175,
   'Longitude': -79.3465557},
  {'index': 33,
   'PostalCode': 'M5X',
   'Borough': 'DowntownToronto',
   'Neighbourhood': 'First Canadian Place / Underground city',
   'Latitude': 43.6484292,
   'Longitude': -79.3822802},
  {'index': 34,
   'PostalCode': 'M5P',
   'Borough': 'CentralToronto',
   'Neighbourhood': 'Forest Hill North & West',
   'Latitude': 43.6969476,
   'Longitude': -79.4113072},
  {'index': 35,
   'PostalCode': 'M5B',
   'Borough': 'DowntownToronto',
   'Neighbourhood': 'Garden District / Ryerson',
   'Latitude': 43.6571618,
   'Longitude': -79.3789371},
  {'index': 36,
   'PostalCode': 'M6B',
   'Borough': 'NorthYork',
   'Neighbourhood': 'Glencairn',
   'Latitude': 43.709577,
   'Longitude': -79.4450726},
  {'index': 37,
   'PostalCode': 'M1L',
   'Borough': 'Scarborough',
   'Neighbourhood': 'Golden Mile / Clairlea / Oakridge',
   'Latitude': 43.7111117,
   'Longitude': -79.2845772},
  {'index': 38,
   'PostalCode': 'M1E',
   'Borough': 'Scarborough',
   'Neighbourhood': 'Guildwood / Morningside / West Hill',
   'Latitude': 43.7635726,
   'Longitude': -79.1887115},
  {'index': 39,
   'PostalCode': 'M5J',
   'Borough': 'DowntownToronto',
   'Neighbourhood': 'Harbourfront East / Union Station / Toronto Islands',
   'Latitude': 43.6408157,
   'Longitude': -79.3817523},
  {'index': 40,
   'PostalCode': 'M6P',
   'Borough': 'WestToronto',
   'Neighbourhood': 'High Park / The Junction South',
   'Latitude': 43.6616083,
   'Longitude': -79.4647633},
  {'index': 41,
   'PostalCode': 'M2H',
   'Borough': 'NorthYork',
   'Neighbourhood': 'Hillcrest Village',
   'Latitude': 43.8037622,
   'Longitude': -79.3634517},
  {'index': 42,
   'PostalCode': 'M9L',
   'Borough': 'NorthYork',
   'Neighbourhood': 'Humber Summit',
   'Latitude': 43.7563033,
   'Longitude': -79.5659633},
  {'index': 43,
   'PostalCode': 'M9M',
   'Borough': 'NorthYork',
   'Neighbourhood': 'Humberlea / Emery',
   'Latitude': 43.7247659,
   'Longitude': -79.5322424},
  {'index': 44,
   'PostalCode': 'M6C',
   'Borough': 'York',
   'Neighbourhood': 'Humewood-Cedarvale',
   'Latitude': 43.6937813,
   'Longitude': -79.4281914},
  {'index': 45,
   'PostalCode': 'M4L',
   'Borough': 'EastToronto',
   'Neighbourhood': 'India Bazaar / The Beaches West',
   'Latitude': 43.6689985,
   'Longitude': -79.3155716},
  {'index': 46,
   'PostalCode': 'M9A',
   'Borough': 'Etobicoke',
   'Neighbourhood': 'Islington Avenue',
   'Latitude': 43.6678556,
   'Longitude': -79.5322424},
  {'index': 47,
   'PostalCode': 'M1K',
   'Borough': 'Scarborough',
   'Neighbourhood': 'Kennedy Park / Ionview / East Birchmount Park',
   'Latitude': 43.7279292,
   'Longitude': -79.2620294},
  {'index': 48,
   'PostalCode': 'M5T',
   'Borough': 'DowntownToronto',
   'Neighbourhood': 'Kensington Market / Chinatown / Grange Park',
   'Latitude': 43.6532057,
   'Longitude': -79.4000493},
  {'index': 49,
   'PostalCode': 'M9R',
   'Borough': 'Etobicoke',
   'Neighbourhood': 'Kingsview Village / St. Phillips / Martin Grove Gardens / Richview Gardens',
   'Latitude': 43.6889054,
   'Longitude': -79.5547244},
  {'index': 50,
   'PostalCode': 'M6A',
   'Borough': 'NorthYork',
   'Neighbourhood': 'Lawrence Manor / Lawrence Heights',
   'Latitude': 43.718518,
   'Longitude': -79.4647633},
  {'index': 51,
   'PostalCode': 'M4N',
   'Borough': 'CentralToronto',
   'Neighbourhood': 'Lawrence Park',
   'Latitude': 43.7280205,
   'Longitude': -79.3887901},
  {'index': 52,
   'PostalCode': 'M4G',
   'Borough': 'EastYork',
   'Neighbourhood': 'Leaside',
   'Latitude': 43.7090604,
   'Longitude': -79.3634517},
  {'index': 53,
   'PostalCode': 'M6J',
   'Borough': 'WestToronto',
   'Neighbourhood': 'Little Portugal / Trinity',
   'Latitude': 43.6479267,
   'Longitude': -79.4197497},
  {'index': 54,
   'PostalCode': 'M1B',
   'Borough': 'Scarborough',
   'Neighbourhood': 'Malvern / Rouge',
   'Latitude': 43.8066863,
   'Longitude': -79.1943534},
  {'index': 55,
   'PostalCode': 'M1V',
   'Borough': 'Scarborough',
   'Neighbourhood': "Milliken / Agincourt North / Steeles East / L'Amoreaux East",
   'Latitude': 43.8152522,
   'Longitude': -79.2845772},
  {'index': 56,
   'PostalCode': 'M8Z',
   'Borough': 'Etobicoke',
   'Neighbourhood': 'Mimico NW / The Queensway West / South of Bloor / Kingsway Park South West / Royal York South West',
   'Latitude': 43.6288408,
   'Longitude': -79.5209994},
  {'index': 57,
   'PostalCode': 'M4T',
   'Borough': 'CentralToronto',
   'Neighbourhood': 'Moore Park / Summerhill East',
   'Latitude': 43.6895743,
   'Longitude': -79.3831599},
  {'index': 58,
   'PostalCode': 'M8V',
   'Borough': 'Etobicoke',
   'Neighbourhood': 'New Toronto / Mimico South / Humber Bay Shores',
   'Latitude': 43.6056466,
   'Longitude': -79.5013207},
  {'index': 59,
   'PostalCode': 'M6L',
   'Borough': 'NorthYork',
   'Neighbourhood': 'North Park / Maple Leaf Park / Upwood Park',
   'Latitude': 43.7137562,
   'Longitude': -79.4900738},
  {'index': 60,
   'PostalCode': 'M4R',
   'Borough': 'CentralToronto',
   'Neighbourhood': 'North Toronto West',
   'Latitude': 43.7153834,
   'Longitude': -79.4056784},
  {'index': 61,
   'PostalCode': 'M9W',
   'Borough': 'Etobicoke',
   'Neighbourhood': 'Northwest',
   'Latitude': 43.7067483,
   'Longitude': -79.5940544},
  {'index': 62,
   'PostalCode': 'M3J',
   'Borough': 'NorthYork',
   'Neighbourhood': 'Northwood Park / York University',
   'Latitude': 43.7679803,
   'Longitude': -79.4872619},
  {'index': 63,
   'PostalCode': 'M8Y',
   'Borough': 'Etobicoke',
   'Neighbourhood': "Old Mill South / King's Mill Park / Sunnylea / Humber Bay / Mimico NE / The Queensway East / Royal York South East / Kingsway Park South East",
   'Latitude': 43.6362579,
   'Longitude': -79.4985091},
  {'index': 64,
   'PostalCode': 'M6R',
   'Borough': 'WestToronto',
   'Neighbourhood': 'Parkdale / Roncesvalles',
   'Latitude': 43.6489597,
   'Longitude': -79.456325},
  {'index': 65,
   'PostalCode': 'M4B',
   'Borough': 'EastYork',
   'Neighbourhood': 'Parkview Hill / Woodbine Gardens',
   'Latitude': 43.7063972,
   'Longitude': -79.309937},
  {'index': 66,
   'PostalCode': 'M3A',
   'Borough': 'NorthYork',
   'Neighbourhood': 'Parkwoods',
   'Latitude': 43.7532586,
   'Longitude': -79.3296565},
  {'index': 67,
   'PostalCode': 'M7A',
   'Borough': 'DowntownToronto',
   'Neighbourhood': "Queen's Park / Ontario Provincial Government",
   'Latitude': 43.6623015,
   'Longitude': -79.3894938},
  {'index': 68,
   'PostalCode': 'M5A',
   'Borough': 'DowntownToronto',
   'Neighbourhood': 'Regent Park / Harbourfront',
   'Latitude': 43.6542599,
   'Longitude': -79.3606359},
  {'index': 69,
   'PostalCode': 'M5H',
   'Borough': 'DowntownToronto',
   'Neighbourhood': 'Richmond / Adelaide / King',
   'Latitude': 43.6505712,
   'Longitude': -79.3845675},
  {'index': 70,
   'PostalCode': 'M4W',
   'Borough': 'DowntownToronto',
   'Neighbourhood': 'Rosedale',
   'Latitude': 43.6795626,
   'Longitude': -79.3775294},
  {'index': 71,
   'PostalCode': 'M5N',
   'Borough': 'CentralToronto',
   'Neighbourhood': 'Roselawn',
   'Latitude': 43.7116948,
   'Longitude': -79.4169356},
  {'index': 72,
   'PostalCode': 'M1C',
   'Borough': 'Scarborough',
   'Neighbourhood': 'Rouge Hill / Port Union / Highland Creek',
   'Latitude': 43.7845351,
   'Longitude': -79.1604971},
  {'index': 73,
   'PostalCode': 'M6S',
   'Borough': 'WestToronto',
   'Neighbourhood': 'Runnymede / Swansea',
   'Latitude': 43.6515706,
   'Longitude': -79.4844499},
  {'index': 74,
   'PostalCode': 'M6N',
   'Borough': 'York',
   'Neighbourhood': 'Runnymede / The Junction North',
   'Latitude': 43.6731853,
   'Longitude': -79.4872619},
  {'index': 75,
   'PostalCode': 'M1J',
   'Borough': 'Scarborough',
   'Neighbourhood': 'Scarborough Village',
   'Latitude': 43.7447342,
   'Longitude': -79.2394761},
  {'index': 76,
   'PostalCode': 'M9V',
   'Borough': 'Etobicoke',
   'Neighbourhood': 'South Steeles / Silverstone / Humbergate / Jamestown / Mount Olive / Beaumond Heights / Thistletown / Albion Gardens',
   'Latitude': 43.7394164,
   'Longitude': -79.5884369},
  {'index': 77,
   'PostalCode': 'M5C',
   'Borough': 'DowntownToronto',
   'Neighbourhood': 'St. James Town',
   'Latitude': 43.6514939,
   'Longitude': -79.3754179},
  {'index': 78,
   'PostalCode': 'M4X',
   'Borough': 'DowntownToronto',
   'Neighbourhood': 'St. James Town / Cabbagetown',
   'Latitude': 43.667967,
   'Longitude': -79.3676753},
  {'index': 79,
   'PostalCode': 'M1W',
   'Borough': 'Scarborough',
   'Neighbourhood': "Steeles West / L'Amoreaux West",
   'Latitude': 43.7995252,
   'Longitude': -79.3183887},
  {'index': 80,
   'PostalCode': 'M5W',
   'Borough': 'DowntownToronto',
   'Neighbourhood': 'Stn A PO Boxes',
   'Latitude': 43.6464352,
   'Longitude': -79.374846},
  {'index': 81,
   'PostalCode': 'M4M',
   'Borough': 'EastToronto',
   'Neighbourhood': 'Studio District',
   'Latitude': 43.6595255,
   'Longitude': -79.340923},
  {'index': 82,
   'PostalCode': 'M4V',
   'Borough': 'CentralToronto',
   'Neighbourhood': 'Summerhill West / Rathnelly / South Hill / Forest Hill SE / Deer Park',
   'Latitude': 43.6864123,
   'Longitude': -79.4000493},
  {'index': 83,
   'PostalCode': 'M5R',
   'Borough': 'CentralToronto',
   'Neighbourhood': 'The Annex / North Midtown / Yorkville',
   'Latitude': 43.6727097,
   'Longitude': -79.4056784},
  {'index': 84,
   'PostalCode': 'M4E',
   'Borough': 'EastToronto',
   'Neighbourhood': 'The Beaches',
   'Latitude': 43.6763574,
   'Longitude': -79.2930312},
  {'index': 85,
   'PostalCode': 'M4K',
   'Borough': 'EastToronto',
   'Neighbourhood': 'The Danforth West / Riverdale',
   'Latitude': 43.6795571,
   'Longitude': -79.352188},
  {'index': 86,
   'PostalCode': 'M8X',
   'Borough': 'Etobicoke',
   'Neighbourhood': 'The Kingsway / Montgomery Road  / Old Mill North',
   'Latitude': 43.6536536,
   'Longitude': -79.5069436},
  {'index': 87,
   'PostalCode': 'M4H',
   'Borough': 'EastYork',
   'Neighbourhood': 'Thorncliffe Park',
   'Latitude': 43.7053689,
   'Longitude': -79.3493719},
  {'index': 88,
   'PostalCode': 'M5K',
   'Borough': 'DowntownToronto',
   'Neighbourhood': 'Toronto Dominion Centre / Design Exchange',
   'Latitude': 43.6471768,
   'Longitude': -79.3815764},
  {'index': 89,
   'PostalCode': 'M5S',
   'Borough': 'DowntownToronto',
   'Neighbourhood': 'University of Toronto / Harbord',
   'Latitude': 43.6626956,
   'Longitude': -79.4000493},
  {'index': 90,
   'PostalCode': 'M1X',
   'Borough': 'Scarborough',
   'Neighbourhood': 'Upper Rouge',
   'Latitude': 43.8361247,
   'Longitude': -79.2056361},
  {'index': 91,
   'PostalCode': 'M4A',
   'Borough': 'NorthYork',
   'Neighbourhood': 'Victoria Village',
   'Latitude': 43.7258823,
   'Longitude': -79.3155716},
  {'index': 92,
   'PostalCode': 'M9B',
   'Borough': 'Etobicoke',
   'Neighbourhood': 'West Deane Park / Princess Gardens / Martin Grove / Islington / Cloverdale',
   'Latitude': 43.6509432,
   'Longitude': -79.5547244},
  {'index': 93,
   'PostalCode': 'M9P',
   'Borough': 'Etobicoke',
   'Neighbourhood': 'Westmount',
   'Latitude': 43.696319,
   'Longitude': -79.5322424},
  {'index': 94,
   'PostalCode': 'M9N',
   'Borough': 'York',
   'Neighbourhood': 'Weston',
   'Latitude': 43.706876,
   'Longitude': -79.5181884},
  {'index': 95,
   'PostalCode': 'M1R',
   'Borough': 'Scarborough',
   'Neighbourhood': 'Wexford / Maryvale',
   'Latitude': 43.7500715,
   'Longitude': -79.2958491},
  {'index': 96,
   'PostalCode': 'M2N',
   'Borough': 'NorthYork',
   'Neighbourhood': 'Willowdale',
   'Latitude': 43.7701199,
   'Longitude': -79.4084928},
  {'index': 97,
   'PostalCode': 'M2R',
   'Borough': 'NorthYork',
   'Neighbourhood': 'Willowdale',
   'Latitude': 43.7827364,
   'Longitude': -79.4422593},
  {'index': 98,
   'PostalCode': 'M2M',
   'Borough': 'NorthYork',
   'Neighbourhood': 'Willowdale / Newtonbrook',
   'Latitude': 43.789053,
   'Longitude': -79.4084928},
  {'index': 99,
   'PostalCode': 'M1G',
   'Borough': 'Scarborough',
   'Neighbourhood': 'Woburn',
   'Latitude': 43.7709921,
   'Longitude': -79.2169174},
  {'index': 100,
   'PostalCode': 'M4C',
   'Borough': 'EastYork',
   'Neighbourhood': 'Woodbine Heights',
   'Latitude': 43.6953439,
   'Longitude': -79.3183887},
  {'index': 101,
   'PostalCode': 'M2L',
   'Borough': 'NorthYork',
   'Neighbourhood': 'York Mills / Silver Hills',
   'Latitude': 43.7574902,
   'Longitude': -79.3747141},
  {'index': 102,
   'PostalCode': 'M2P',
   'Borough': 'NorthYork',
   'Neighbourhood': 'York Mills West',
   'Latitude': 43.7527583,
   'Longitude': -79.4000493}]}

In [79]:
neighborhoods_data = Toronto_data['data']
neighborhoods_data[0]
#Let's take a look at the first item in this list.

{'index': 0,
 'PostalCode': 'M1S',
 'Borough': 'Scarborough',
 'Neighbourhood': 'Agincourt',
 'Latitude': 43.7942003,
 'Longitude': -79.2620294}

In [80]:
sorted_dataframe.info()
sorted_dataframe.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103 entries, 0 to 102
Data columns (total 5 columns):
PostalCode       103 non-null object
Borough          103 non-null object
Neighbourhood    103 non-null object
Latitude         103 non-null float64
Longitude        103 non-null float64
dtypes: float64(2), object(3)
memory usage: 4.1+ KB

(103, 5)

In [81]:
sorted_dataframe.head()

,PostalCode,Borough,Neighbourhood,Latitude,Longitude
0,M1S,Scarborough,Agincourt,43.794200,-79.262029
1,M8W,Etobicoke,Alderwood / Long Branch,43.602414,-79.543484
2,M3H,NorthYork,Bathurst Manor / Wilson Heights / Downsview North,43.754328,-79.442259
3,M2K,NorthYork,Bayview Village,43.786947,-79.385975
4,M5M,NorthYork,Bedford Park / Lawrence Manor East,43.733283,-79.419750

In [82]:
print('The dataframe has {} boroughs and {} neighborhoods.'.format(
        len(sorted_dataframe['Borough'].unique()),
        sorted_dataframe.shape[0]
    )
)

The dataframe has 10 boroughs and 103 neighborhoods.

In [83]:
address = 'Adelaide'

geolocator = Nominatim()
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print('The geograpical coordinate of Adelaide are {}, {}.'.format(latitude, longitude))

/opt/conda/envs/Python36/lib/python3.6/site-packages/ipykernel/__main__.py:3: DeprecationWarning: Using Nominatim with the default "geopy/1.21.0" `user_agent` is strongly discouraged, as it violates Nominatim's ToS https://operations.osmfoundation.org/policies/nominatim/ and may possibly cause 403 and 429 HTTP errors. Please specify a custom `user_agent` with `Nominatim(user_agent="my-application")` or by overriding the default `user_agent`: `geopy.geocoders.options.default_user_agent = "my-application"`. In geopy 2.0 this will become an exception.
  app.launch_new_instance()

The geograpical coordinate of Adelaide are -34.9281805, 138.5999312.

In [86]:
import pandas as pd
import folium

#grab a random sample from df
subset_of_df = sorted_dataframe.sample(n=11)
map_test = folium.Map(location=[subset_of_df['Latitude'].mean(), 
                                subset_of_df['Longitude'].mean()], 
                      zoom_start=10)
#creating a Marker for each point in df_sample. Each point will get a popup with their zip
for row in subset_of_df.itertuples():
    map_test.add_child(folium.Marker(location=[row.Latitude ,row.Longitude],
           popup=row.Borough))

    
#map_test

#open map_test.html in browser
map_test.save("map_test.html")

# if you cannot generate the maps open PGA_map_*.html from the zip file

Test on Borough data, map with MarkerClusters:

In [87]:
from folium.plugins import MarkerCluster
map_borough = folium.Map(location=[subset_of_df['Latitude'].mean(), 
 subset_of_df['Longitude'].mean()], 
 zoom_start=10)
mc = MarkerCluster()
#creating a Marker for each point in df_sample. Each point will get a popup with their zip
for row in subset_of_df.itertuples():
    mc.add_child(folium.Marker(location=[row.Latitude,  row.Longitude],
                 popup=row.Borough))
    map_borough.add_child(mc)


#map_borough

#open in map_borough.html browser 
map_borough.save("map_borough.html")

#if you cannot generate the maps open PGA_map_*.html from the zip file

3.2. Replicate the same analysis with the neighborhoods in Toronto.

In [88]:
import pandas as pd
import folium



#grab a random sample from df
toronto_n = sorted_dataframe.sample(n=20)
map_toronto = folium.Map(location=[toronto_n['Latitude'].mean(), 
                                toronto_n['Longitude'].mean()], 
                      zoom_start=10)
#creating a Marker for each point in df_sample. Each point will get a popup with their zip
for row in toronto_n.itertuples():
    map_toronto.add_child(folium.Marker(location=[row.Latitude ,row.Longitude],
           popup=row.Neighbourhood))

    
map_toronto 

#open map_toronto.html in browser

map_toronto.save("map_toronto20.html")

#if you cannot generate the maps open PGA_map_*.html from the zip file

3.3 Used the Foursquare API to explore neighborhoods in Toronto.

In [89]:
sorted_dataframe.head()

,PostalCode,Borough,Neighbourhood,Latitude,Longitude
0,M1S,Scarborough,Agincourt,43.794200,-79.262029
1,M8W,Etobicoke,Alderwood / Long Branch,43.602414,-79.543484
2,M3H,NorthYork,Bathurst Manor / Wilson Heights / Downsview North,43.754328,-79.442259
3,M2K,NorthYork,Bayview Village,43.786947,-79.385975
4,M5M,NorthYork,Bedford Park / Lawrence Manor East,43.733283,-79.419750

In [91]:
sorted_dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103 entries, 0 to 102
Data columns (total 5 columns):
PostalCode       103 non-null object
Borough          103 non-null object
Neighbourhood    103 non-null object
Latitude         103 non-null float64
Longitude        103 non-null float64
dtypes: float64(2), object(3)
memory usage: 4.1+ KB

In [92]:
print('The dataframe has {} boroughs and {} neighborhoods.'.format(
        len(sorted_dataframe['Borough'].unique()),
        sorted_dataframe.shape[0]
    )
)

The dataframe has 10 boroughs and 103 neighborhoods.

In [93]:
address = 'Toronto, CA'

geolocator = Nominatim()
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print('The geograpical coordinate of Toronto are {}, {}.'.format(latitude, longitude))

The geograpical coordinate of Toronto are 43.6534817, -79.3839347.

/opt/conda/envs/Python36/lib/python3.6/site-packages/ipykernel/__main__.py:3: DeprecationWarning: Using Nominatim with the default "geopy/1.21.0" `user_agent` is strongly discouraged, as it violates Nominatim's ToS https://operations.osmfoundation.org/policies/nominatim/ and may possibly cause 403 and 429 HTTP errors. Please specify a custom `user_agent` with `Nominatim(user_agent="my-application")` or by overriding the default `user_agent`: `geopy.geocoders.options.default_user_agent = "my-application"`. In geopy 2.0 this will become an exception.
  app.launch_new_instance()

Create a map of Toronto
with its neighborhoods superimposed on top.

if you cannot replicate the lab open PGAmap*.html from the zip file

In [94]:
# create map of Toronto using latitude and longitude values
map_toronto_neighbourhoods = folium.Map(location=[latitude, longitude], zoom_start=10)

# add markers to map
for lat, lng, borough, neighbourhood in zip(sorted_dataframe['Latitude'], sorted_dataframe['Longitude'], sorted_dataframe['Borough'], sorted_dataframe['Neighbourhood']):
    label = '{}, {}'.format(neighbourhood, borough)
    label = folium.Popup(label, parse_html=True)
    folium.CircleMarker(
        [lat, lng],
        radius=2,
        popup=label,
        color='blue',
        fill=True,
        fill_color='#3186cc',
        fill_opacity=0.7,
        parse_html=False).add_to(map_toronto_neighbourhoods)  
    
map_toronto_neighbourhoods

map_toronto_neighbourhoods.save("map_toronto_neighbourhoods.html")

#open map_toronto_neighbourhoods.html in browser
#if you cannot generate the maps open PGA_map_*.html from the zip file

In [95]:
address = 'York, Toronto'

geolocator = Nominatim()
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print('The geograpical coordinates of York, Toronto are {}, {}.'.format(latitude, longitude))

The geograpical coordinates of York, Toronto are 43.67910515, -79.49118414007154.

/opt/conda/envs/Python36/lib/python3.6/site-packages/ipykernel/__main__.py:3: DeprecationWarning: Using Nominatim with the default "geopy/1.21.0" `user_agent` is strongly discouraged, as it violates Nominatim's ToS https://operations.osmfoundation.org/policies/nominatim/ and may possibly cause 403 and 429 HTTP errors. Please specify a custom `user_agent` with `Nominatim(user_agent="my-application")` or by overriding the default `user_agent`: `geopy.geocoders.options.default_user_agent = "my-application"`. In geopy 2.0 this will become an exception.
  app.launch_new_instance()

In [96]:
york_data = sorted_dataframe[sorted_dataframe['Borough'] == 'York'].reset_index(drop=True)
york_data

,PostalCode,Borough,Neighbourhood,Latitude,Longitude
0,M6E,York,Caledonia-Fairbanks,43.689026,-79.453512
1,M6M,York,Del Ray / Mount Dennis / Keelsdale and Silvert...,43.691116,-79.476013
2,M6C,York,Humewood-Cedarvale,43.693781,-79.428191
3,M6N,York,Runnymede / The Junction North,43.673185,-79.487262
4,M9N,York,Weston,43.706876,-79.518188

In [97]:
# create map of Manhattan using latitude and longitude values
map_york_toronto = folium.Map(location=[latitude, longitude], zoom_start=11)

# add markers to map
for lat, lng, label in zip(york_data['Latitude'], york_data['Longitude'], york_data['Neighbourhood']):
    label = folium.Popup(label, parse_html=True)
    folium.CircleMarker(
        [lat, lng],
        radius=5,
        popup=label,
        color='blue',
        fill=True,
        fill_color='#3186cc',
        fill_opacity=0.7,
        parse_html=False).add_to(map_york_toronto)  
    
map_york_toronto

map_york_toronto.save("map_york_toronto.html")

#open map_york_toronto.html in browser
#if you cannot generate the maps open PGA_map_*.html from the zip file

In [98]:
map_york_toronto

In [119]:
#Enter your Foursquare credentials:
CLIENT_ID = 'YICYHHYOY5L4CARMWOGZ5DDHOKYJMI2FO5ZD5LHVVYO1EIE5' # your Foursquare ID

CLIENT_SECRET = 'LMMCGWEYUT5W2KG5QF0T2NDJKIJCL3B134SFMGWOXIP5IJWO' # your Foursquare Secret

VERSION = '20180605' # Foursquare API version

print('My credentails: ***')

print('CLIENT_ID: ' + CLIENT_ID)
print('CLIENT_SECRET:' + CLIENT_SECRET)

My credentails: ***
CLIENT_ID: YICYHHYOY5L4CARMWOGZ5DDHOKYJMI2FO5ZD5LHVVYO1EIE5
CLIENT_SECRET:LMMCGWEYUT5W2KG5QF0T2NDJKIJCL3B134SFMGWOXIP5IJWO

In [120]:
york_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
PostalCode       5 non-null object
Borough          5 non-null object
Neighbourhood    5 non-null object
Latitude         5 non-null float64
Longitude        5 non-null float64
dtypes: float64(2), object(3)
memory usage: 280.0+ bytes

In [121]:
neighbourhood_latitude = york_data.loc[0, 'Latitude'] # neighborhood latitude value
neighbourhood_longitude = york_data.loc[0, 'Longitude'] # neighborhood longitude value

neighbourhood_name = york_data.loc[0, 'Neighbourhood'] # neighborhood name

print('Latitude and longitude values of {} are {}, {}.'.format(neighbourhood_name, 
                                                               neighbourhood_latitude, 
                                                               neighbourhood_longitude))

Latitude and longitude values of Caledonia-Fairbanks are 43.6890256, -79.453512.

In [122]:
LIMIT = 100 # limit of number of venues returned by Foursquare API
radius = 500 # define radius

 # create URL
url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
    CLIENT_ID, 
    CLIENT_SECRET, 
    VERSION, 
    neighbourhood_latitude, 
    neighbourhood_longitude,
    radius, 
    LIMIT)
url # display URL

'https://api.foursquare.com/v2/venues/explore?&client_id=YICYHHYOY5L4CARMWOGZ5DDHOKYJMI2FO5ZD5LHVVYO1EIE5&client_secret=LMMCGWEYUT5W2KG5QF0T2NDJKIJCL3B134SFMGWOXIP5IJWO&v=20180605&ll=43.6890256,-79.453512&radius=500&limit=100'

In [123]:
york_results = requests.get(url).json()
york_results

{'meta': {'code': 200, 'requestId': '5eb3abce542890001b40802a'},
 'response': {'warning': {'text': "There aren't a lot of results near you. Try something more general, reset your filters, or expand the search area."},
  'headerLocation': 'Toronto',
  'headerFullLocation': 'Toronto',
  'headerLocationGranularity': 'city',
  'totalResults': 3,
  'suggestedBounds': {'ne': {'lat': 43.6935256045, 'lng': -79.44730040297749},
   'sw': {'lat': 43.6845255955, 'lng': -79.45972359702252}},
  'groups': [{'type': 'Recommended Places',
    'name': 'recommended',
    'items': [{'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4eb0ca53be7bb9c3eeace0d6',
       'name': 'Nairn Park',
       'location': {'address': 'Nairn Ave',
        'crossStreet': 'Chudleigh Rd',
        'lat': 43.69065390931841,
        'lng': -79.4562995791835,
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.69065390931841,
          'lng': -79.4562995791835}],
        'distance': 288,
        'cc': 'CA',
        'city': 'Toronto',
        'state': 'ON',
        'country': 'Canada',
        'formattedAddress': ['Nairn Ave (Chudleigh Rd)',
         'Toronto ON',
         'Canada']},
       'categories': [{'id': '4bf58dd8d48988d163941735',
         'name': 'Park',
         'pluralName': 'Parks',
         'shortName': 'Park',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/parks_outdoors/park_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4eb0ca53be7bb9c3eeace0d6-0'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4c9e50ca2fb1a1435054e940',
       'name': 'Maximum Woman',
       'location': {'address': '2120 Eglinton Avenue West',
        'lat': 43.69065130310669,
        'lng': -79.45633320240984,
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.69065130310669,
          'lng': -79.45633320240984}],
        'distance': 290,
        'postalCode': 'M6E 2K8',
        'cc': 'CA',
        'city': 'Toronto',
        'state': 'ON',
        'country': 'Canada',
        'formattedAddress': ['2120 Eglinton Avenue West',
         'Toronto ON M6E 2K8',
         'Canada']},
       'categories': [{'id': '4bf58dd8d48988d108951735',
         'name': "Women's Store",
         'pluralName': "Women's Stores",
         'shortName': "Women's Store",
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/shops/apparel_women_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4c9e50ca2fb1a1435054e940-1'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4c3f8848e26920a177955be7',
       'name': 'Fairbanks Pool',
       'location': {'lat': 43.69195850094914,
        'lng': -79.44892151240036,
        'labeledLatLngs': [{'label': 'display',
          'lat': 43.69195850094914,
          'lng': -79.44892151240036}],
        'distance': 493,
        'cc': 'CA',
        'city': 'Toronto',
        'state': 'ON',
        'country': 'Canada',
        'formattedAddress': ['Toronto ON', 'Canada']},
       'categories': [{'id': '4bf58dd8d48988d15e941735',
         'name': 'Pool',
         'pluralName': 'Pools',
         'shortName': 'Pool',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/parks_outdoors/pool_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4c3f8848e26920a177955be7-2'}]}]}}

3.4. Get the most common venue categories in each neighborhood
use get_category_type function from the Foursquare lab

In [124]:
# function that extracts the category of the venue
def get_category_type(row):
    try:
        categories_list = row['categories']
    except:
        categories_list = row['venue.categories']
        
    if len(categories_list) == 0:
        return None
    else:
        return categories_list[0]['name']

In [125]:
york_venues = york_results['response']['groups'][0]['items']
    
york_nearby_venues = json_normalize(york_venues) # flatten JSON

# filter columns
york_filtered_columns = ['venue.name', 'venue.categories', 'venue.location.lat', 'venue.location.lng']
york_nearby_venues = york_nearby_venues.loc[:, york_filtered_columns]

# filter the category for each row
york_nearby_venues['venue.categories'] = york_nearby_venues.apply(get_category_type, axis=1)

# clean columns
york_nearby_venues.columns = [col.split(".")[-1] for col in york_nearby_venues.columns]

york_nearby_venues.head()

             name     categories        lat        lng
0      Nairn Park           Park  43.690654 -79.456300
1   Maximum Woman  Women's Store  43.690651 -79.456333
2  Fairbanks Pool           Pool  43.691959 -79.448922

Explore Neighborhoods in York:
Let's create a function to repeat the same process to all the neighborhoods in York
de

In [127]:
def getNearbyVenues(names, latitudes, longitudes, radius=500):
    
    venues_list=[]
    for name, lat, lng in zip(names, latitudes, longitudes):
        print(name)
            
        # create the API request URL
        url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lng, 
            radius, 
            LIMIT)
            
        # make the GET request
        results = requests.get(url).json()["response"]['groups'][0]['items']
        
        # return only relevant information for each nearby venue
        venues_list.append([(
            name, 
            lat, 
            lng, 
            v['venue']['name'], 
            v['venue']['location']['lat'], 
            v['venue']['location']['lng'],  
            v['venue']['categories'][0]['name']) for v in results])

    nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    nearby_venues.columns = ['Neighbourhood', 
                  'Neighbourhood Latitude', 
                  'Neighbourhood Longitude', 
                  'Venue', 
                  'Venue Latitude', 
                  'Venue Longitude', 
                  'Venue Category']
    
    return(nearby_venues)

In [129]:
york_venues = getNearbyVenues(names=york_data['Neighbourhood'],
                                   latitudes=york_data['Latitude'],
                                   longitudes=york_data['Longitude']
                                  )

Caledonia-Fairbanks
Del Ray / Mount Dennis / Keelsdale and Silverthorn
Humewood-Cedarvale
Runnymede / The Junction North
Weston

In [130]:
york_venues.head()

,Neighbourhood,Neighbourhood Latitude,Neighbourhood Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
0,Caledonia-Fairbanks,43.689026,-79.453512,Nairn Park,43.690654,-79.456300,Park
1,Caledonia-Fairbanks,43.689026,-79.453512,Maximum Woman,43.690651,-79.456333,Women's Store
2,Caledonia-Fairbanks,43.689026,-79.453512,Fairbanks Pool,43.691959,-79.448922,Pool
3,Del Ray / Mount Dennis / Keelsdale and Silvert...,43.691116,-79.476013,Subway,43.690218,-79.474050,Sandwich Place
4,Del Ray / Mount Dennis / Keelsdale and Silvert...,43.691116,-79.476013,El Nahual,43.690763,-79.473799,Restaurant

In [131]:
york_venues.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 7 columns):
Neighbourhood              17 non-null object
Neighbourhood Latitude     17 non-null float64
Neighbourhood Longitude    17 non-null float64
Venue                      17 non-null object
Venue Latitude             17 non-null float64
Venue Longitude            17 non-null float64
Venue Category             17 non-null object
dtypes: float64(4), object(3)
memory usage: 1.0+ KB

In [132]:
york_venues.groupby('Neighbourhood').count()

,Neighbourhood Latitude,Neighbourhood Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
Neighbourhood,,,,,,
Caledonia-Fairbanks,3,3,3,3,3,3
Del Ray / Mount Dennis / Keelsdale and Silverthorn,4,4,4,4,4,4
Humewood-Cedarvale,4,4,4,4,4,4
Runnymede / The Junction North,4,4,4,4,4,4
Weston,2,2,2,2,2,2

In [133]:
print('There are {} uniques categories.'.format(len(york_venues['Venue Category'].unique())))

There are 13 uniques categories.

3.5. Used these features to group the neighborhoods into clusters
use one hot coding to analyse each of the neighbourhoods in York, Torono:

In [134]:
# one hot encoding
york_onehot = pd.get_dummies(york_venues[['Venue Category']], prefix="", prefix_sep="")

# add neighborhood column back to dataframe
york_onehot['Neighbourhood'] = york_venues['Neighbourhood'] 

# move neighborhood column to the first column
york_fixed_columns = [york_onehot.columns[-1]] + list(york_onehot.columns[:-1])
york_onehot = york_onehot[york_fixed_columns]

york_onehot.head()

,Neighbourhood,Bus Line,Caribbean Restaurant,Convenience Store,Fast Food Restaurant,Field,Grocery Store,Hockey Arena,Park,Pool,Restaurant,Sandwich Place,Trail,Women's Store
0,Caledonia-Fairbanks,0,0,0,0,0,0,0,1,0,0,0,0,0
1,Caledonia-Fairbanks,0,0,0,0,0,0,0,0,0,0,0,0,1
2,Caledonia-Fairbanks,0,0,0,0,0,0,0,0,1,0,0,0,0
3,Del Ray / Mount Dennis / Keelsdale and Silvert...,0,0,0,0,0,0,0,0,0,0,1,0,0
4,Del Ray / Mount Dennis / Keelsdale and Silvert...,0,0,0,0,0,0,0,0,0,1,0,0,0

In [135]:
york_grouped = york_onehot.groupby('Neighbourhood').mean().reset_index()
york_grouped.head()

,Neighbourhood,Bus Line,Caribbean Restaurant,Convenience Store,Fast Food Restaurant,Field,Grocery Store,Hockey Arena,Park,Pool,Restaurant,Sandwich Place,Trail,Women's Store
0,Caledonia-Fairbanks,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.333333,0.333333,0.00,0.00,0.00,0.333333
1,Del Ray / Mount Dennis / Keelsdale and Silvert...,0.00,0.00,0.25,0.25,0.00,0.00,0.00,0.000000,0.000000,0.25,0.25,0.00,0.000000
2,Humewood-Cedarvale,0.00,0.00,0.00,0.00,0.25,0.00,0.25,0.250000,0.000000,0.00,0.00,0.25,0.000000
3,Runnymede / The Junction North,0.25,0.25,0.25,0.00,0.00,0.25,0.00,0.000000,0.000000,0.00,0.00,0.00,0.000000
4,Weston,0.00,0.00,0.50,0.00,0.00,0.00,0.00,0.500000,0.000000,0.00,0.00,0.00,0.000000

In [136]:
num_top_venues = 3

for hood in york_grouped['Neighbourhood']:
    print("----"+hood+"----")
    york_temp = york_grouped[york_grouped['Neighbourhood'] == hood].T.reset_index()
    york_temp.columns = ['venue','freq']
    york_temp = york_temp.iloc[1:]
    york_temp['freq'] = york_temp['freq'].astype(float)
    york_temp = york_temp.round({'freq': 2})
    print(york_temp.sort_values('freq', ascending=False).reset_index(drop=True).head(num_top_venues))
    print('\n')

----Caledonia-Fairbanks----
           venue  freq
0           Park  0.33
1           Pool  0.33
2  Women's Store  0.33


----Del Ray / Mount Dennis / Keelsdale and Silverthorn----
                  venue  freq
0     Convenience Store  0.25
1  Fast Food Restaurant  0.25
2            Restaurant  0.25


----Humewood-Cedarvale----
          venue  freq
0         Field  0.25
1  Hockey Arena  0.25
2          Park  0.25


----Runnymede / The Junction North----
                  venue  freq
0              Bus Line  0.25
1  Caribbean Restaurant  0.25
2     Convenience Store  0.25


----Weston----
               venue  freq
0  Convenience Store   0.5
1               Park   0.5
2           Bus Line   0.0

Let's put that into a pandas dataframe
write a function to sort the venues in descending order.

In [137]:
def return_most_common_venues(row, num_top_venues):
    row_categories = row.iloc[1:]
    row_categories_sorted = row_categories.sort_values(ascending=False)
    
    return row_categories_sorted.index.values[0:num_top_venues]

In [138]:
num_top_venues = 17

indicators = ['st', 'nd', 'rd']

# create columns according to number of top venues
columns = ['Neighbourhood']
for ind in np.arange(num_top_venues):
    try:
        columns.append('{}{} Most Common Venue'.format(ind+1, indicators[ind]))
    except:
        columns.append('{}th Most Common Venue'.format(ind+1))

# create a new dataframe
york_neighbourhoods_venues_sorted = pd.DataFrame(columns=columns)

york_neighbourhoods_venues_sorted

Empty DataFrame
Columns: [Neighbourhood, 1st Most Common Venue, 2nd Most Common Venue, 3rd Most Common Venue, 4th Most Common Venue, 5th Most Common Venue, 6th Most Common Venue, 7th Most Common Venue, 8th Most Common Venue, 9th Most Common Venue, 10th Most Common Venue, 11th Most Common Venue, 12th Most Common Venue, 13th Most Common Venue, 14th Most Common Venue, 15th Most Common Venue, 16th Most Common Venue, 17th Most Common Venue]
Index: []

In [139]:
york_neighbourhoods_venues_sorted['Neighbourhood'] = york_grouped['Neighbourhood']

york_neighbourhoods_venues_sorted.head(2)

,Neighbourhood,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue,11th Most Common Venue,12th Most Common Venue,13th Most Common Venue,14th Most Common Venue,15th Most Common Venue,16th Most Common Venue,17th Most Common Venue
0,Caledonia-Fairbanks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Del Ray / Mount Dennis / Keelsdale and Silvert...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [141]:
york_neighbourhoods_venues_sorted['Neighbourhood'] = york_grouped['Neighbourhood']

york_neighbourhoods_venues_sorted.head(2)

,Neighbourhood,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue,11th Most Common Venue,12th Most Common Venue,13th Most Common Venue,14th Most Common Venue,15th Most Common Venue,16th Most Common Venue,17th Most Common Venue
0,Caledonia-Fairbanks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Del Ray / Mount Dennis / Keelsdale and Silvert...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

3.4. Used the Folium library to generated maps to visualize neighborhoods on and how they cluster together.
Run k-means to cluster the neighborhood into 2 clusters.

In [143]:
# set number of clusters
kclusters = 2

york_grouped_clustering = york_grouped.drop('Neighbourhood', 1)

# run k-means clustering
york_kmeans = KMeans(n_clusters=kclusters, random_state=0).fit(york_grouped_clustering)

# check cluster labels generated for each row in the dataframe
york_kmeans.labels_[0:5]

array([0, 1, 0, 1, 0], dtype=int32)

In [144]:
# add clustering labels
york_neighbourhoods_venues_sorted.insert(0, 'Cluster Labels', york_kmeans.labels_)

york_merged = york_data

# merge toronto_grouped with toronto_data to add latitude/longitude for each neighborhood
york_merged = york_merged.join(york_neighbourhoods_venues_sorted.set_index('Neighbourhood'), on='Neighbourhood')

york_merged

,PostalCode,Borough,Neighbourhood,Latitude,Longitude,Cluster Labels,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue,11th Most Common Venue,12th Most Common Venue,13th Most Common Venue,14th Most Common Venue,15th Most Common Venue,16th Most Common Venue,17th Most Common Venue
0,M6E,York,Caledonia-Fairbanks,43.689026,-79.453512,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,M6M,York,Del Ray / Mount Dennis / Keelsdale and Silvert...,43.691116,-79.476013,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,M6C,York,Humewood-Cedarvale,43.693781,-79.428191,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,M6N,York,Runnymede / The Junction North,43.673185,-79.487262,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,M9N,York,Weston,43.706876,-79.518188,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [145]:
# create map
york_map_clusters = folium.Map(location=[latitude, longitude], zoom_start=11)

# set color scheme for the clusters
x = np.arange(kclusters)
ys = [i + x + (i*x)**2 for i in range(kclusters)]
colors_array = cm.rainbow(np.linspace(0, 1, len(ys)))
rainbow = [colors.rgb2hex(i) for i in colors_array]

# add markers to the map
markers_colors = []
for lat, lon, poi, cluster in zip(york_merged['Latitude'], york_merged['Longitude'], york_merged['Neighbourhood'], york_merged['Cluster Labels']):
    label = folium.Popup(str(poi) + ' Cluster ' + str(cluster), parse_html=True)
    folium.CircleMarker(
        [lat, lon],
        radius=5,
        popup=label,
        color=rainbow[cluster-1],
        fill=True,
        fill_color=rainbow[cluster-1],
        fill_opacity=0.7).add_to(york_map_clusters)
       
york_map_clusters

york_map_clusters.save("york_map_clusters.html")

#open york_map_clusters.html in browser
#if you cannot generate the maps open PGA_map_*.html from the zip file

In [146]:
york_map_clusters

Examine Clusters
examen & determine the discriminating venue categories that distinguish each cluster.
Red Cluster:

In [147]:
york_merged.loc[york_merged['Cluster Labels'] == 0, york_merged.columns[[1] + list(range(5, york_merged.shape[1]))]]

,Borough,Cluster Labels,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue,11th Most Common Venue,12th Most Common Venue,13th Most Common Venue,14th Most Common Venue,15th Most Common Venue,16th Most Common Venue,17th Most Common Venue
0,York,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,York,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,York,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [148]:
york_merged.loc[york_merged['Cluster Labels'] == 1, york_merged.columns[[1] + list(range(5, york_merged.shape[1]))]]

,Borough,Cluster Labels,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue,11th Most Common Venue,12th Most Common Venue,13th Most Common Venue,14th Most Common Venue,15th Most Common Venue,16th Most Common Venue,17th Most Common Venue
1,York,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,York,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN